<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Listings - Wanderlust</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <%- include("../includes/navbar.ejs") %>

    <div class="container mt-4">
      <h3>All Listings</h3>

      <div class="d-flex flex-wrap gap-3">
        <% for (let listing of allListings) { %>
        <div class="card" style="width: 18rem;">
          <img src="<%= listing.image %>" class="card-img-top" alt="listing_image" />
          <div class="card-body">
            <p class="card-text">
              <%= listing.title %> <br />
              &#8377; <%= listing.price.toLocaleString("en-IN") %>/night
            </p>
            <a class="btn btn-primary" href="/listings/<%= listing._id %>">View</a>
          </div>
        </div>
        <% } %>
      </div>

      <ul class="mt-4">
        <% for (let listing of allListings) { %>
        <li>
          <a href="/listings/<%= listing._id %>"> <%= listing.title %> </a>
        </li>
        <% } %>
      </ul>
    </div>

    <%- include("../includes/footer.ejs") %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
